In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./imdb_top_1000.csv')
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [3]:
df.pop('Poster_Link')
df.head()

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

# Change columns name

In [4]:
df.rename(columns={
    'Series_Title' : 'SeriesTitle',
    'Released_Year' : 'ReleasedYear',
    'IMDB_Rating' : 'IMDBRating',
    'Meta_score' : 'MetaScore',
    'No_of_Votes' : 'NoOfVotes'
}, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SeriesTitle   1000 non-null   object
 1   ReleasedYear  1000 non-null   object
 2   Certificate   899 non-null    object
 3   Runtime       1000 non-null   object
 4   Genre         1000 non-null   object
 5   IMDBRating    1000 non-null   float64
 6   Overview      1000 non-null   object
 7   MetaScore     843 non-null    float64
 8   Director      1000 non-null   object
 9   Star1         1000 non-null   object
 10  Star2         1000 non-null   object
 11  Star3         1000 non-null   object
 12  Star4         1000 non-null   object
 13  NoOfVotes     1000 non-null   int64
 14  Gross         831 non-null    object
dtypes: float64(2), int64(1), object(12)
memory usage: 117.3+ KB

In [5]:
df.isna().sum()

SeriesTitle       0
ReleasedYear      0
Certificate     101
Runtime           0
Genre             0
IMDBRating        0
Overview          0
MetaScore       157
Director          0
Star1             0
Star2             0
Star3             0
Star4             0
NoOfVotes         0
Gross           169
dtype: int64

In [6]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 0 to 997
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SeriesTitle   714 non-null    object
 1   ReleasedYear  714 non-null    object
 2   Certificate   714 non-null    object
 3   Runtime       714 non-null    object
 4   Genre         714 non-null    object
 5   IMDBRating    714 non-null    float64
 6   Overview      714 non-null    object
 7   MetaScore     714 non-null    float64
 8   Director      714 non-null    object
 9   Star1         714 non-null    object
 10  Star2         714 non-null    object
 11  Star3         714 non-null    object
 12  Star4         714 non-null    object
 13  NoOfVotes     714 non-null    int64
 14  Gross         714 non-null    object
dtypes: float64(2), int64(1), object(12)
memory usage: 89.2+ KB

In [7]:
df['Runtime'] = df['Runtime'].str.strip(' min')
df['Gross'] = df['Gross'].str.replace(',', '')

In [8]:
df['ReleasedYear'].unique()

array(['1994', '1972', '2008', '1974', '1957', '2003', '1993', '2010',
       '1999', '2001', '1966', '2002', '1990', '1980', '1975', '2019',
       '2014', '1998', '1997', '1995', '1991', '1977', '1954', '2011',
       '2006', '2000', '1988', '1985', '1968', '1960', '1942', '1936',
       '1931', '2018', '2016', '2017', '2012', '2009', '1981', '1979',
       '1964', '2004', '1992', '1987', '1986', '1984', '1983', '1976',
       '1973', '1971', '1965', '1962', '1959', '1958', '1952', '1944',
       '1941', '2013', '2007', '2005', '1989', '1963', '1950', '1948',
       '2015', '1996', '1982', '1978', '1967', '1951', '1949', '1940',
       '1939', '1934', '1970', '1969', '1961', '1946', '1930', '1938',
       '1933', 'PG', '1953'], dtype=object)

In [10]:
df = df.astype({
    'SeriesTitle' : 'string',
    'Certificate' : 'string',
    'Runtime' : 'int64',
    'Genre' : 'string',
    'Overview' : 'string',
    'Director' : 'string',
    'Star1' : 'string',
    'Star2' : 'string',
    'Star3' : 'string',
    'Star4' : 'string',
    'Gross' : 'float64',
})

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 0 to 997
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SeriesTitle   714 non-null    string
 1   ReleasedYear  714 non-null    object
 2   Certificate   714 non-null    string
 3   Runtime       714 non-null    int64
 4   Genre         714 non-null    string
 5   IMDBRating    714 non-null    float64
 6   Overview      714 non-null    string
 7   MetaScore     714 non-null    float64
 8   Director      714 non-null    string
 9   Star1         714 non-null    string
 10  Star2         714 non-null    string
 11  Star3         714 non-null    string
 12  Star4         714 non-null    string
 13  NoOfVotes     714 non-null    int64
 14  Gross         714 non-null    float64
dtypes: float64(3), int64(2), object(1), string(9)
memory usage: 89.2+ KB

In [11]:
df= df[~(pd.to_numeric(df['ReleasedYear'], errors = 'coerce').isna())]
df['ReleasedYear'] = df['ReleasedYear'].astype('int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 713 entries, 0 to 997
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SeriesTitle   713 non-null    string
 1   ReleasedYear  713 non-null    int64
 2   Certificate   713 non-null    string
 3   Runtime       713 non-null    int64
 4   Genre         713 non-null    string
 5   IMDBRating    713 non-null    float64
 6   Overview      713 non-null    string
 7   MetaScore     713 non-null    float64
 8   Director      713 non-null    string
 9   Star1         713 non-null    string
 10  Star2         713 non-null    string
 11  Star3         713 non-null    string
 12  Star4         713 non-null    string
 13  NoOfVotes     713 non-null    int64
 14  Gross         713 non-null    float64
dtypes: float64(3), int64(3), string(9)
memory usage: 89.1 KB

In [12]:
df

,SeriesTitle,ReleasedYear,Certificate,Runtime,Genre,IMDBRating,Overview,MetaScore,Director,Star1,Star2,Star3,Star4,NoOfVotes,Gross
0,The Shawshank Redemption,1994,A,142,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469.0
1,The Godfather,1972,A,175,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0
2,The Dark Knight,2008,UA,152,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0
3,The Godfather: Part II,1974,A,202,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0
4,12 Angry Men,1957,U,96,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,Giù la testa,1971,PG,157,"Drama, War, Western",7.6,A low-life bandit and an I.R.A. explosives exp...,77.0,Sergio Leone,Rod Steiger,James Coburn,Romolo Valli,Maria Monti,30144,696690.0
991,Kelly's Heroes,1970,GP,144,"Adventure, Comedy, War",7.6,A group of U.S. soldiers sneaks across enemy l...,50.0,Brian G. Hutton,Clint Eastwood,Telly Savalas,Don Rickles,Carroll O'Connor,45338,1378435.0
992,The Jungle Book,1967,U,78,"Animation, Adventure, Family",7.6,Bagheera the Panther and Baloo the Bear have a...,65.0,Wolfgang Reitherman,Phil Harris,Sebastian Cabot,Louis Prima,Bruce Reitherman,166409,141843612.0
994,A Hard Day's Night,1964,U,87,"Comedy, Music, Musical",7.6,"Over two ""typical"" days in the life of The Bea...",96.0,Richard Lester,John Lennon,Paul McCartney,George Harrison,Ringo Starr,40351,13780024.0
997,From Here to Eternity,1953,Passed,118,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,30500000.0

In [13]:
df = df.dropna()
df['ReleasedYear'].unique()

array([1994, 1972, 2008, 1974, 1957, 2003, 1993, 2010, 1999, 2001, 1966,
       2002, 1990, 1980, 1975, 2019, 2014, 1998, 1997, 1995, 1991, 1977,
       1954, 2011, 2006, 2000, 1988, 1985, 1968, 1960, 1942, 1936, 1931,
       2018, 2016, 2017, 2012, 2009, 1981, 1979, 1964, 2004, 1992, 1987,
       1986, 1984, 1983, 1976, 1973, 1971, 1965, 1962, 1959, 1958, 1952,
       1944, 1941, 2013, 2007, 2005, 1989, 1963, 1950, 1948, 2015, 1996,
       1982, 1978, 1967, 1951, 1949, 1940, 1939, 1934, 1970, 1969, 1961,
       1946, 1930, 1938, 1933, 1953], dtype=int64)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 713 entries, 0 to 997
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SeriesTitle   713 non-null    string
 1   ReleasedYear  713 non-null    int64
 2   Certificate   713 non-null    string
 3   Runtime       713 non-null    int64
 4   Genre         713 non-null    string
 5   IMDBRating    713 non-null    float64
 6   Overview      713 non-null    string
 7   MetaScore     713 non-null    float64
 8   Director      713 non-null    string
 9   Star1         713 non-null    string
 10  Star2         713 non-null    string
 11  Star3         713 non-null    string
 12  Star4         713 non-null    string
 13  NoOfVotes     713 non-null    int64
 14  Gross         713 non-null    float64
dtypes: float64(3), int64(3), string(9)
memory usage: 89.1 KB

In [16]:
df.to_csv('./clean_data.csv', sep=';')